body {
	width:21cm;
}
table.page-frame {
	width:100%;
	page-break-after:always;
}
table.service-list {
	margin-top:12pt;
}
table.service-list td,table.service-list th  {
	border:1px solid;
	padding:3px;
	font-size:10pt;
}
table.service-list th {
	background-color:#EEE;
}
.details {
	font-size:12pt;
	line-height:120%;
	margin:5px 0 10px 0;
}
td.visit {
	height:19cm;
}
td.agreement {
	border-top:dashed 1px gray;
	font-size:8pt;
	line-height:120%;
}
td.agreement h3 {
	text-align:center;
	font-size:10pt;
	margin-top:6pt;
	line-height:150%;
}
td.agreement .indent {
	margin-bottom:3pt;
}
td.agreement ol {
	list-style:decimal inside none;
}
.underwrites {
	margin-top:10pt;
	width:100%;
}
.title {
	font-size:16pt;
	font-weight:bold;
	text-align:center;
	margin:8pt 0;
}
.title2 {
	font-size:12pt;
	line-height:120%;
	margin:5px 0 10px 0;
	text-align:left;	
}
.rt {
	text-align:right;
}
