/* grid background */
.child1-row .x-grid3-cell {
    background-color: #b0ffc5 ;
    /*color:green;*/
}

.child2-row .x-grid3-cell {
    background-color: #ffb0b0 ;
    /*color:green;*/
}

.child3-row .x-grid3-cell {
    background-color: #b0e0ff ;
    /*color:green;*/
}

.child4-row .x-grid3-cell {
    background-color: #fbb0ff ;
    /*color:green;*/
}

.child5-row .x-grid3-cell {
    background-color: #fffab0 ;
    /*color:green;*/
}